<!-- Page content -->


<!-- page header -->
          <div class="pageheader">
            

            <h2><i class="fa fa-users" style="line-height: 46px;padding-left: 0;"></i> Friends</h2>
            

            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>You are here</li>
                <li><a href="index.html">Gambeat</a></li>
                <li><a href="#">Social</a></li>
                <li class="active">Friends</li>
              </ol>
            </div>


          </div>
          <!-- /page header -->
          
          




          <!-- content main container -->
          <div class="main">        



            <!-- row -->
            <div class="row">


              <!-- col 12 -->
              <div class="col-md-12">
              

                
                <!-- tile -->
                <section class="tile transparent">

                  <!-- tile widget -->
                  <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabdrop align-right">
                      <li class="tab-title pull-left">
                        <h4 class="search-result thin">List of Friends</h4>
                      </li>
                      <li class="active"><a href="#users-tab" data-toggle="tab">Friends <small>(100)</small></a></li>
                    </ul>
                    <!-- / Nav tabs -->
                  </div>
                  <!-- /tile widget -->

                  <!-- tile body -->
                  <div class="tile-body tab-content rounded-bottom-corners">

                    <div class="input-group search-bar">
                      <input type="text" class="form-control" name="search" placeholder="Search..." value="imrich">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
                      </span>
                    </div>
                    
                    
                    <div id="users-tab" class="tab-pane fade in active">
                      
                      <ul class="search-results files row">
          
                        <li class="search-result form-group col-sm-4 ">
                          <div class="media cover ">
                            <a href="#" class="pull-left">
                              <img alt="" src="assets/images/ici-avatar.jpg" class="media-object img-circle">
                            </a>
                            <div class="media-body">
                              <h4><a href="#">Ing. Imrich Kamarel</a></h4>
                              <small>Username: @icino</small><br>
                              <small>Privilegies: Administrator</small><br>
                              <small>Created at: 18.03.2013</small>
                            </div>
                          </div>
                        </li>

                        <li class="search-result form-group col-sm-4">
                          <div class="media cover">
                            <a href="#" class="pull-left">
                              <img alt="" src="assets/images/ici-avatar.jpg" class="media-object img-circle">
                            </a>
                            <div class="media-body">
                              <h4><a href="#">Ing. Imrich Kamarel</a></h4>
                              <small>Username: @icino</small><br>
                              <small>Privilegies: Administrator</small><br>
                              <small>Created at: 18.03.2013</small>
                            </div>
                          </div>
                        </li>

                        <li class="search-result form-group col-sm-4">
                          <div class="media cover">
                            <a href="#" class="pull-left">
                              <img alt="" src="assets/images/ici-avatar.jpg" class="media-object img-circle">
                            </a>
                            <div class="media-body">
                              <h4><a href="#">Ing. Imrich Kamarel</a></h4>
                              <small>Username: @icino</small><br>
                              <small>Privilegies: Administrator</small><br>
                              <small>Created at: 18.03.2013</small>
                            </div>
                          </div>
                        </li>

                      </ul>

                      <ul class="search-results files row">
                        
                                      <li class="search-result form-group col-sm-4">
                                        <div class="media cover">
                                          <a href="#" class="pull-left">
                                            <img alt="" src="assets/images/ici-avatar.jpg" class="media-object img-circle">
                                          </a>
                                          <div class="media-body">
                                            <h4><a href="#">Ing. Imrich Kamarel</a></h4>
                                            <small>Username: @icino</small><br>
                                            <small>Privilegies: Administrator</small><br>
                                            <small>Created at: 18.03.2013</small>
                                          </div>
                                        </div>
                                      </li>
              
                                      <li class="search-result form-group col-sm-4">
                                        <div class="media cover">
                                          <a href="#" class="pull-left">
                                            <img alt="" src="assets/images/ici-avatar.jpg" class="media-object img-circle">
                                          </a>
                                          <div class="media-body">
                                            <h4><a href="#">Ing. Imrich Kamarel</a></h4>
                                            <small>Username: @icino</small><br>
                                            <small>Privilegies: Administrator</small><br>
                                            <small>Created at: 18.03.2013</small>
                                          </div>
                                        </div>
                                      </li>
              
                                      <li class="search-result form-group col-sm-4">
                                        <div class="media cover">
                                          <a href="#" class="pull-left">
                                            <img alt="" src="assets/images/ici-avatar.jpg" class="media-object img-circle">
                                          </a>
                                          <div class="media-body">
                                            <h4><a href="#">Ing. Imrich Kamarel</a></h4>
                                            <small>Username: @icino</small><br>
                                            <small>Privilegies: Administrator</small><br>
                                            <small>Created at: 18.03.2013</small>
                                          </div>
                                        </div>
                                      </li>
              
                                    </ul>
                                    <div class="pagination aligned-right">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                          <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                        </div>
                      </div>
              

                    </div>
                    <!-- / Tab panes -->

                  </div>
                  <!-- /tile body -->
                


                </section>
                <!-- /tile -->



              </div>
              <!-- /col 12 -->

              
            </div>
            <!-- /row -->




          </div>  
          <!-- /content container -->
