
<!-- Page content -->

<!-- page header -->
<div class="pageheader">


    <h2><i class="fa fa-comments" style="line-height: 48px;padding-left: 0;"></i> Chat <span></span></h2>


    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="index.html">Gambeat</a></li>
            <li class="active">Chat</li>
        </ol>
    </div>


</div>
<!-- /page header -->






<!-- content main container -->
<chat-directive class="main">



    <!-- row -->
    <div class="row">


        <div class="col-lg-4 col-md-5 col-sm-6">


            <!-- tile -->
            <section class="tile transparent">


                <!-- tile header -->
                <div class="tile-header color bg-transparent-black-5 rounded-top-corners">
                    <ul class="chat-nav main-nav inline">
                        <li><h3><strong>Inbox</strong> <span class="badge badge-red">3</span></h3></li>
                        <li class="pull-right">
                            <button type="button" class="btn btn-transparent-white btn-sm dropdown-toggle" data-toggle="dropdown">
                                More <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body color transparent-black rounded-bottom-corners nopadding">

                    <ul class="chat-inbox" id="chat-inbox">
                        <li><input type="text" class="form-control" placeholder="Search..."></li>
                        <li>
                            <a href="#" class="active">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Ing. Imrich Kamarel <span class="time">12:44</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/arnold-avatar.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Arnold Karlsberg <span class="time">yesterday</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="unread">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/george-avatar.jpg">
                                        <span class="badge badge-red">1</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">George McCain <span class="time">31.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="unread">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/peter-avatar.jpg">
                                        <span class="badge badge-red">2</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Peter Kay <span class="time">28.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/random-avatar1.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Lucius Cashmere <span class="time">27.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/random-avatar2.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Jesse Phoenix <span class="time">25.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/random-avatar3.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Dell MacApple <span class="time">23.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/random-avatar4.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Roger Flopple <span class="time">18.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/random-avatar5.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Bobby Socks <span class="time">17.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/random-avatar6.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Nico Vulture <span class="time">16.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="media">
                                    <div class="pull-left" href="#">
                                        <img class="media-object img-circle" src="assets/images/random-avatar7.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">Silk Teddy <span class="time">12.3.2014</span></p>
                                        <span class="message">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- /tile body -->


            </section>
            <!-- /tile -->


        </div>


        <div class="col-lg-8 col-md-7 col-sm-6">


            <!-- tile -->
            <section class="tile transparent">


                <!-- tile header -->
                <div class="tile-header color bg-transparent-black-5 rounded-corners">
                    <ul class="chat-nav side-nav inline">
                        <li><h3><strong>Ing. Imrich</strong> Kamarel</h3></li>
                        <li class="pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-transparent-white"><i class="fa fa-plus"></i> New Message</button>
                                <button type="button" class="btn btn-transparent-white dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> Actions <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                                <input type="text" class="form-control input-sm" placeholder="Search..." id="chat-search">
                                <button type="button" class="btn btn-transparent-white" id="initialize-search"><i class="fa fa-search"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body transparent nopadding">

                    <div class="chat-content" id="chat-content">
                        <ul class="chat-list">

                            <li class="conversation-divider"><span>Conversation started at 26.03.2014</span></li>

                            <li class="message receive">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Ing. Imrich Kamarel</a> <span class="time">26.3.2014 18:36</span></p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                            </li>
                            <li class="message sent">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/profile-photo.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">John Douey</a> <span class="time">26.3.2014 18:38</span></p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </div>
                            </li>

                            <li class="conversation-divider"><span>29.03.2014</span></li>

                            <li class="message receive">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Ing. Imrich Kamarel</a> <span class="time">29.3.2014 12:20</span></p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                            </li>
                            <li class="message sent">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/profile-photo.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">John Douey</a> <span class="time">29.3.2014 12:25</span></p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </div>
                            </li>
                            <li class="message sent">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/profile-photo.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">John Douey</a> <span class="time">29.3.2014 13:15</span></p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </li>

                            <li class="conversation-divider"><span>31.03.2014</span></li>

                            <li class="message receive">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Ing. Imrich Kamarel</a> <span class="time">31.3.2014 09:12</span></p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                            </li>
                            <li class="message sent">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/profile-photo.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">John Douey</a> <span class="time">31.3.2014 09:15</span></p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </div>
                            </li>
                            <li class="message receive">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Ing. Imrich Kamarel</a> <span class="time">31.3.2014 09:18</span></p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /tile body -->




                <!-- tile footer -->
                <div class="tile-footer transparent nopadding">

                    <div class="chat-reply" id="chat-reply">
                        <textarea placeholder="Post a reply..." class="form-control"></textarea>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-transparent-white"><i class="fa fa-paperclip"></i> Add Files</button>
                            <button type="button" class="btn btn-transparent-white last-in-group"><i class="fa fa-camera"></i> Add Photos</button>
                            <button type="button" class="btn btn-transparent-white last pull-right">Reply</button>
                            <div class="checkbox check-transparent pull-right">
                                <input type="checkbox" value="1" id="send-by-enter">
                                <label for="send-by-enter">Press Enter to send</label>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /tile footer -->


            </section>
            <!-- /tile -->



        </div>


    </div>
    <!-- /row -->


</chat-directive>
<!-- /content container -->
