
          <!-- page header -->
          <div class="pageheader">
            

            <h2><i class="fa fa-user" style="line-height: 46px;padding-left: 0;"></i> Profile </h2>
            

            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>You are here</li>
                <li><a href="index.html">Gambeat</a></li>
                <li><a href="#">Social</a></li>
                <li class="active">My Profile</li>
              </ol>
            </div>


          </div>
          <!-- /page header -->
          
          

          <!-- content main container -->
          <div class="main">        



           <!-- row -->
            <div class="row">




              <!-- col 4 -->
              <div class="col-md-4">
              

                <!-- tile -->
                <section class="tile transparent">




                  <!-- tile header -->
                  <div class="tile-header nopadding">               
                    <div class="controls">
                      <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile widget -->
                  <div class="tile-widget color transparent-white rounded-top-corners">
                    
                    <div class="user-card">
                      <h3><strong>John</strong> Douey</h3>
                      <ul class="profile-controls inline">
                        <li class="avatar"><img src="assets/images/profile-photo.jpg" alt class="img-circle profile-photo"></li>
                      </ul>
                      <h5>Jonney</h5>
                      <div class="social-networks">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-github-square"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                      </div>
                    </div>                       

                  </div>
                  <!-- /tile widget -->

                  <!-- tile body -->
                  <div class="tile-body color transparent-black textured rounded-bottom-corners">
                    <ul class="inline divided social-feed">
                      <li>
                        <h4>126</h4>
                        Matches
                      </li>
                      <li>
                        <h4>324</h4>
                        Win
                      </li>
                      <li>
                        <h4>1254</h4>
                        Loss
                      </li>
                    </ul>
                  </div>
                  <!-- /tile body -->
                


                </section>
                <!-- /tile -->



                <!-- tile -->
                <section class="tile color transparent-black">




                  <!-- tile header -->
                  <div class="tile-header">
                  <h1><strong>About</strong> Me</h1>               
                    <div class="controls">
                      <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->


                  <!-- tile body -->
                  <div class="tile-body padding-top-0">
                    <p class="about-me">A man’s gotta make at least one bet a day, else he could be walking around lucky and never know it.</p>
                  </div>
                  <!-- /tile body -->
                

                </section>
                <!-- /tile -->


              </div>
              <!-- /col 4 -->


              <!-- col 8 -->
              <div class="col-md-8">
              

                
                <!-- tile -->
                <section class="tile transparent">

                  <!-- tile widget -->
                  <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabdrop">
                      <li class="active"><a href="!" data-toggle="tab">Stats</a></li>
                      <li><a href="#settings-tab" data-toggle="tab">Personal Details</a></li>
                      <li><a href="#security-details-tab" data-toggle="tab">Security Details</a></li>
                    </ul>
                    <!-- / Nav tabs -->
                  </div>
                  <!-- /tile widget -->

                  <!-- tile body -->
                  <div class="tile-body tab-content rounded-bottom-corners">

                    <!-- Tab panes -->                 
                    <flip-card id="!" class="tab-pane fade in active">
                      
                      <div class="row cards">
                        
                                      <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                        <div class="card card-blue hover">
                                          <div class="front">
                        
                                            <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>
                        
                                              <div class="media-body">
                                                <small>Games Played</small>
                                                <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
                                              </div>
                                            </div>
                        
                                            <div class="progress-list">
                                              <div class="details">
                                                <div class="title">Total matched played %</div>
                                              </div>
                                              <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                                              </div>
                                            </div>
                        
                                          </div>
                                          <div class="back">
                                            <a href="#">
                                              <i class="fa fa-bar-chart-o fa-4x"></i>
                                              <span>Check Summary</span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                        
                        
                                      <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                        <div class="card card-blue hover">
                                          <div class="front">
                        
                                            <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>
                        
                                              <div class="media-body">
                                                <small>Win</small>
                                                <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                                              </div>
                                            </div>
                        
                                            <div class="progress-list">
                                              <div class="details">
                                                <div class="title">Cummulative win %</div>
                                              </div>
                                              <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                              </div>
                                            </div>
                        
                                          </div>
                                          <div class="back">
                                            <a href="#">
                                              <i class="fa fa-bar-chart-o fa-4x"></i>
                                              <span>Check Summary</span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                        
                        
                        
                                      <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                        <div class="card card-blue hover">
                                          <div class="front">
                        
                                            <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>
                        
                                              <div class="media-body">
                                                <small>Loss</small>
                                                <h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
                                              </div>
                                            </div>
                        
                                            <div class="progress-list">
                                              <div class="details">
                                                <div class="title">Cummulative loss %</div>
                                              </div>
                                              <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                                              </div>
                                            </div>
                        
                                          </div>
                                          <div class="back">
                                            <a href="#">
                                              <i class="fa fa-bar-chart-o fa-4x"></i>
                                              <span>Check Summary</span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                        
                                    </div>
                                    <!-- /cards -->


                                    <!-- cards -->
            <div class="row cards">
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Wallet</small>
                                        <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Gambeat wallet %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Profit</small>
                                        <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative money won %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-xs-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Expenses</small>
                                        <h2 class="media-heading animate-number" data-value="9634" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative money loss %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="25" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                            </div>
                            <!-- /cards -->
                

                             <!-- cards -->
            <div class="row cards">
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Friends</small>
                                        <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative friends %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Referer</small>
                                        <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative referer %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-xs-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Referals</small>
                                        <h2 class="media-heading animate-number" data-value="9634" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative referrals %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="25" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                            </div>
                            <!-- /cards -->
                
                            
                
                
                
                        

                    </flip-card>



                    <div id="settings-tab" class="tab-pane fade in">
                      

                      <form class="profile-settings">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Personal</strong> Settings</h4>
                            <p>Your personal account settings</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="first-name">First Name</label>
                            <input type="text" class="form-control" id="first-name" value="John">
                          </div>

                          <div class="form-group col-sm-6">
                            <label for="last-name">Last Name</label>
                            <input type="text" class="form-control" id="last-name" value="Douey">
                          </div>

                        </div>

                        <div class="row">
                          
                          <div class="form-group col-sm-6">
                            <label for="user-name">User Name</label>
                            <input type="text" class="form-control" id="address1" value="otobongp" readonly>
                          </div>
                          
                          <div class="form-group col-sm-6">
                            <label for="country">Country</label>
                            <select class="chosen-select form-control" id="country">
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                          </div>
                          
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-12">
                            <label for="address1">Address Line</label>
                            <input type="text" class="form-control" id="address1" value="Vajnorska 215">
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-4">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" value="Bratislava" readonly>
                          </div>

                          <div class="form-group col-sm-4">
                            <label for="state">State/Provice</label>
                            <input type="text" class="form-control" id="state" value="Bratislava" readonly>
                          </div>

                          <div class="form-group col-sm-4">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" id="zip" value="215 62" readonly>
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" value="johny.d@tattek.com" readonly>
                          </div>

                          <div class="form-group col-sm-6">
                            <label for="country">Country</label>
                            <select class="chosen-select form-control" id="country">
                              <option>Slovakia</option>
                              <option>Czech Republic</option>
                              <option>Poland</option>
                              <option>Hungary</option>
                              <option>Austria</option>
                            </select>
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" value="+(421) 903 669 478" readonly>
                            <span class="help-block">+(421) 999 999 999</span>
                          </div>

                          <div class="form-group col-sm-6">
                            <label for="avatar">Avatar</label>
                            <div class="input-group">
                              <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                  <i class="fa fa-upload"></i><input type="file" multiple="">
                                </span>
                              </span>
                              <input type="text" class="form-control" readonly="" id="avatar">
                            </div>
                            <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-12">
                            <label for="bio">Bio</label>
                            <textarea class="form-control" id="bio" rows="4">A man’s gotta make at least one bet a day, else he could be walking around lucky and never know it.</textarea>
                          </div>

                        </div>

                        
                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="new-password">Profile Visibility</label>
                            <div class="radio">
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                              <label for="optionsRadios1">For Everyone</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                              <label for="optionsRadios2">For Friends</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                              <label for="optionsRadios3">Hidden for Everyone</label>
                            </div>
                          </div>

                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Update" />
                        </div>

                      </form>
                    

                    </div>
                    <!-- / Tab panes -->


                    <div id="security-details-tab" class="tab-pane fade in">
                      

                      <form class="change-password">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> Password</h4>
                            <p>Secure your account</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="username">Current Password</label>
                            <input type="password" class="form-control" id="password" value="secretpassword" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label for="password">Re-enter Current Password</label>
                            <input type="password" class="form-control" id="password" value="">
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="new-password">New Password</label>
                            <input type="password" class="form-control" id="new-password">
                          </div>

                          <div class="form-group col-sm-6">
                            <label for="new-password-repeat">New Password Repeat</label>
                            <input type="password" class="form-control" id="new-password-repeat">
                          </div>

                        </div>


                        

                        <div class="row">
                          
                          <div class="form-group col-sm-6">
                            <label for="new-password">A token will be sent to you, send token via:</label>
                            <div class="">
                              <input type="radio" name="send-token-option" id="phone" value="phone" checked="">
                              <label for="phone">SMS</label>
                            </div>
                            <div class="">
                              <input type="radio" name="send-token-option" id="email" value="email">
                              <label for="email">Mail</label>
                            </div>
                          </div>
                          
                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Submit" />
                        </div>

                      
                      </form>
                    
                      <form class="change-email">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> E-mail</h4>
                            <p>Secure your account (Token would be sent via sms)</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="username">Current E-mail</label>
                            <input type="password" class="form-control" id="password" value="eshiett1995@gamil.com" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label for="new-email">New E-mail</label>
                            <input type="email" class="form-control" id="email" value="">
                          </div>

                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Submit" />
                        </div>

                      
                      </form>

                      <form class="change-number">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> Number</h4>
                            <p>Secure your account (Token would be sent via email)</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="username">Current Number</label>
                            <input type="tel" class="form-control" id="current-number" value="08098516969" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label for="new-email">New Number</label>
                            <input type="tel" class="form-control" id="number" value="">
                          </div>

                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Submit" />
                        </div>

                      
                      </form>

                      <form class="change-username">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> User Name</h4>
                            <p>Secure your account</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="username">Current User Name</label>
                            <input type="text" class="form-control" id="current-username" value="otobongp" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label for="new-email">New User Name</label>
                            <input type="text" class="form-control" id="usename" value="">
                          </div>

                        </div>

                        <div class="row">
                          
                          <div class="form-group col-sm-6">
                            <label for="new-password">A token will be sent to you, send token via:</label>
                            <div class="">
                              <input type="radio" name="send-token-option" id="phone" value="phone" checked="">
                              <label for="phone">SMS</label>
                            </div>
                            <div class="">
                              <input type="radio" name="send-token-option" id="email" value="email">
                              <label for="email">Mail</label>
                            </div>
                          </div>
                          
                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="button" value="Submit User Name" />
                        </div>



                      
                      </form>
                    

                    </div>
                    <!-- / Tab panes -->


                  </div>
                  <!-- /tile body -->
                


                </section>
                <!-- /tile -->
                


              </div>
              <!-- /col 8 -->


              
            </div>
            <!-- /row -->

            <script src="https://code.jquery.com/jquery.js"></script>

          </div>  
          <!-- /content container -->
