

<!-- page header -->
<!--suppress XmlDuplicatedId -->
<div class="pageheader">


    <h2><i class="fa fa-credit-card" style="line-height: 46px;padding-left: 0;"></i> Deposit <span>// Please enter your card details</span></h2>


    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="index.html">Gambeat</a></li>
            <li><a href="#">Account</a></li>
            <li class="active">Deposit</li>
        </ol>
    </div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main deposit" id="card-details">

    <!-- row -->
    <div class="row centered deposit-row">

        <!-- col 12 -->
        <div class="col-md-5">


            <!-- tile -->
            <section class="tile color transparent-white">



                <!-- tile header -->
                <div class="tile-header">
                    <h1><strong>Enter</strong> Card Detail's</h1>
                    <div class="controls">
                        <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                        <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body">

                    <form class="form-horizontal" role="form" parsley-validate id="numbervalidations">

                        <div class="form-group">
                            <label for="minval" class="col-sm-4 control-label">Card number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="minval" parsley-trigger="change" parsley-required="true" parsley-type="number" parsley-min="10" parsley-validation-minlength="0" placeholder="minimum = N200">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="maxval" class="col-sm-4 control-label">CVV </label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control parsley-validated" id="maxval" parsley-trigger="change" parsley-required="true" parsley-type="number" parsley-max="100" parsley-validation-minlength="0" placeholder="***">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="numval" class="col-sm-4 control-label">Expiry Year</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control parsley-validated" id="numval" parsley-trigger="change" parsley-required="true" parsley-type="number" parsley-validation-minlength="0" placeholder="2018">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phonenum" class="col-sm-4 control-label">Expiry month</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control parsley-validated" id="phonenum" parsley-trigger="change" parsley-required="true" parsley-type="phone" parsley-validation-minlength="0" placeholder="3">
                            </div>
                        </div>


                        <div class="form-group form-footer footer-black-transparent">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary">Card <i class="fa fa-credit-card"></i></button>

                                <button type="submit" class="btn btn-primary">Bank <i class="fa fa-bank"></i></button>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /tile body -->




            </section>
            <!-- /tile -->





        </div>
        <!-- /col 12 -->



    </div>
    <!-- /row -->



</div>
<!-- /content container -->
