

<!-- page header -->
          <div class="pageheader">
            

            <h2><i class="fa fa-users" style="line-height: 46px;padding-left: 0;"></i> Friends</h2>
            

            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>You are here</li>
                <li><a href="index.html">Gambeat</a></li>
                <li><a href="#">Social</a></li>
                <li class="active">Friends</li>
              </ol>
            </div>


          </div>
          <!-- /page header -->
          
          




          <!-- content main container -->
          <div class="main" id="friends">



            <!-- row -->
            <div class="row">


              <!-- col 12 -->
              <div class="col-md-12">
              

                
                <!-- tile -->
                <section class="tile transparent">

                  <!-- tile widget -->
                  <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabdrop align-right">
                      <li class="tab-title pull-left">
                        <h4 class="search-result thin">List of Friends</h4>
                      </li>
                      <li class="active"><a href="#users-tab" data-toggle="tab">Friends <small data-bind="text:'(' + numberOfUsers() + ')'">(100)</small></a></li>
                    </ul>
                    <!-- / Nav tabs -->
                  </div>
                  <!-- /tile widget -->

                  <!-- tile body -->
                  <div class="tile-body tab-content rounded-bottom-corners">

                    <div class="input-group search-bar">
                      <input type="text" class="form-control" name="search" placeholder="Search...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
                      </span>
                    </div>

                    <nav aria-label="Page navigation">
                      <ul class="friendsPage" id="pagination"></ul>
                    </nav>
                    
                    <div id="users-tab" class="tab-pane fade in active" data-bind="foreach: groupedFriends">
                      
                      <ul class="search-results files row" data-bind="foreach: $data">
          
                        <li class="search-result form-group col-sm-4 ">
                          <div class="media cover ">
                            <a data-bind="attr:{ href: '#/social/friends/' + userName}" class="pull-left">
                              <img alt="" src="assets/images/ici-avatar.jpg" class="media-object img-circle">
                            </a>
                            <div class="media-body">
                              <h4><a data-bind="attr:{ href: '#/social/friends/' + userName}, text: userName"> <strong>Ing. Imrich Kamarel</strong></a></h4>
                              <small>First name: <span data-bind="text: firstName"></span></small><br>
                              <small>Last name: <span data-bind="text: lastName"></span></small><br>
                            </div>
                          </div>
                        </li>

                      </ul>




                    </div>
                    <!-- / Tab panes -->

                    <nav aria-label="Page navigation">
                      <ul class="friendsPage" id="pagination"></ul>
                    </nav>

                  </div>
                  <!-- /tile body -->

                </section>
                <!-- /tile -->

              </div>
              <!-- /col 12 -->

              
            </div>
            <!-- /row -->


          </div>  
          <!-- /content container -->
