
    <!-- page header ng-view  -->
    <div class="pageheader">


        <h2 ><i class="fa fa-home"></i> Home </h2>


        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>You are here</li>
                <li><a href="dashboard.html">Gambeat</a></li>
                <li class="active" >Home</li>
            </ol>
        </div>


    </div>
    <!-- /page header -->



    <!-- content main container -->
    <div class="main" id="home">

        <!-- cards -->
        <div class="row cards">

            <div class="card-container col-lg-3 col-sm-6 col-sm-12 flip-card">
                <div class="card card-slategray hover flip-card">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-gamepad media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Matches Played</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': matchPlayed }" data-animation-duration="1500"></h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Total match played %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-money media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Wallet</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': wallet }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Gambeat Wallet %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>



            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-envelope-o media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Total Messages</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': totalMessage }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cummulative messages %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-user media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Friends</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': friends }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cumulative Friends %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <!-- /cards -->




        <!-- cards -->
        <div class="row cards">

            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-slategray hover flip-card">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-gamepad media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Wins</small>
                                <h2 class="media-heading animate-number" data-bind="attr: { 'data-value': wins }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cummulative wins %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-bind="attr: { 'data-value': percentageWin }" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="50%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="card-container col-lg-3 col-sm-6 col-sm-12 flip-card">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-money media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Profit</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': profit }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cumulative money wins %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-bind="attr:{'data-value': percentageProfit }" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="50%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>



            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-envelope-o media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>read Messages</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': readMessage }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cummulative read messages %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-bind="attr:{'data-value': percentageReadMessages }" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-user media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Referrer</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': referrer }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cumulative referrer %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <!-- /cards -->




        <!-- cards -->
        <div class="row cards">

            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-gamepad media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Loss</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': loss }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cummulative Loss %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-bind="attr:{'data-value': percentageLoss }" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="50%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-money media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Expenses</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': expenses }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cummulative cash loss%</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-bind="attr:{'data-value': percentageExpenses }" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="50%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>



            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-envelope-o media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Unread Messages</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': unreadMessage }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cumulative Unread Messages %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-bind="attr:{'data-value': percentageUnreadMessages }" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-slategray hover">
                    <div class="front">

                        <div class="media">
                          <span class="pull-left">
                            <i class="fa fa-user media-object"></i>
                          </span>

                            <div class="media-body">
                                <small>Referrals</small>
                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': referrals }" data-animation-duration="1500">0</h2>
                            </div>
                        </div>

                        <div class="progress-list">
                            <div class="details">
                                <div class="title">Cumulative referrals %</div>
                            </div>
                            <div class="status pull-right bg-transparent-black-1">
                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                            </div>
                            <div class="clearfix"></div>
                            <div class="progress progress-little progress-transparent-black">
                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="back">
                        <a href="dashboard.html#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>Check Summary</span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <!-- /cards -->


    </div>
    <!-- /row -->


