<!-- page header -->
<div class="pageheader">


    <h2><i class="fa fa-comments" style="line-height: 48px;padding-left: 0;"></i> Chat <span></span></h2>


    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="index.html">Gambeat</a></li>
            <li class="active">Chat</li>
        </ol>
    </div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main" id="message">



    <!-- row -->
    <div class="row">


        <div class="col-lg-4 col-md-5 col-sm-6" data-bind="style: { display: showFriendsPanel() === false ? 'block' : 'none' }">


            <!-- tile -->
            <section class="tile transparent">


                <!-- tile header -->
                <div class="tile-header color bg-transparent-black-5 rounded-top-corners">
                    <ul class="chat-nav main-nav inline">
                        <li><h3><strong>Inbox</strong> <span class="badge badge-red" data-bind="text:totalNumberOfUnreadMessages()">3</span></h3></li>
                        <li class="pull-right">
                            <button type="button" class="btn btn-transparent-white btn-sm dropdown-toggle" data-toggle="dropdown">
                                More <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body color transparent-black rounded-bottom-corners nopadding" data-bind="event: { scroll: scrollingInboxMessagesBox}">

                    <ul class="chat-inbox" id="chat-inbox">
                        <li><input type="text" class="form-control" placeholder="Search..."></li>


                        <!-- ko foreach: friendsAndMessagesModelPage.content() -->


                        <li>
                            <a data-bind="click:$parent.startChat.bind(), css: friend.unreadMessagesCount() > 0 ? 'unread' : 'nothing', makeActive:$data" style="cursor: pointer" href="#" >
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                        <!-- ko if: friend.unreadMessagesCount() > 0 -->
                                        <span class="badge badge-red" data-bind="text:friend.unreadMessagesCount()">0</span>
                                        <!-- /ko -->
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><span  data-bind="text:friend.userName()">Ing. Imrich Kamarel</span> <span class="time" data-bind="text: messages() === undefined || messages().length == 0 ? $parent.convertTime(new Date().getTime()) : $parent.convertTime(messages()[messages().length - 1].dateCreated())">12:44</span></p>
                                        <span class="message" data-bind="text: messages() === undefined || messages().length == 0 ? '' : messages()[messages().length - 1].message()">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                        <div class="chat-actions">
                                            <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                            <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- /ko -->

                        <li class="chat-loader" data-bind="if: loadingInboxMessages()">

                            <img src="assets/images/loaders/disqus.svg" width="60px" style="border: none; display: block; margin: 0 auto;"></img>

                        </li>

                    </ul>

                </div>
                <!-- /tile body -->


            </section>
            <!-- /tile -->


        </div>

        <div class="col-lg-4 col-md-5 col-sm-6" data-bind="style: { display: showFriendsPanel() === true ? 'block' : 'none' }">

        <!-- tile -->
        <section class="tile transparent" >


            <!-- tile header -->
            <!-- tile header -->
            <div class="tile-header color bg-transparent-black-5 rounded-top-corners">
                <ul class="chat-nav main-nav inline">
                    <li><h3><strong>Friends</strong> <span class="badge badge-red" data-bind="text:friendsModel.totalFriendsCount()">3</span></h3></li>
                    <li class="pull-right">
                        <button type="button" class="btn btn-transparent-white btn-sm dropdown-toggle" data-toggle="dropdown">
                            More <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-bind="click:showMessagesPanel.bind()">Home</a></li>
                            <!-- <li><a href="#">Another action</a></li>
                             <li><a href="#">Something else here</a></li>
                             <li class="divider"></li>
                             <li><a href="#">Separated link</a></li>  -->
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /tile header -->


            <!-- tile body -->
            <div class="tile-body color transparent-black rounded-bottom-corners nopadding" data-bind="event: { scroll: scrollingFriendsBox}">

                <ul class="chat-inbox" id="chat-inbox" style="height: inherit">
                    <li><input type="text" class="form-control" placeholder="Search..."></li>


                    <!-- ko foreach: friendsModel.friends() -->


                    <li class="friend">
                        <a data-bind="click:$parent.startNewChat.bind()" style="cursor: pointer" href="#" >
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                    <!-- ko if: unreadMessagesCount() > 0 -->
                                    <span class="badge badge-red" data-bind="text:unreadMessagesCount()">0</span>
                                    <!-- /ko -->
                                </div>
                                <div class="media-body">
                                    <p class="media-heading"><span  data-bind="text:userName()">Ing. Imrich Kamarel</span> <span class="time"></span></p>
                                    <span class="message" data-bind="text:bio()">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                    <div class="chat-actions">
                                        <span class="mark-unread" title="Mark as unread"><i class="fa fa-circle-o"></i></span>
                                        <span class="archive" title="Archive"><i class="fa fa-times"></i></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <!-- /ko -->

                    <li class="chat-loader" data-bind="if: loadingFriendsList()">

                        <img src="assets/images/loaders/interwind.svg" width="80px" style="border: none; display: block; margin: 0 auto;"></img>

                    </li>

                </ul>

            </div>
            <!-- /tile body -->


        </section>
        <!-- /tile -->


        </div>



        <div class="col-lg-8 col-md-7 col-sm-6">


            <!-- tile -->
            <section class="tile transparent">


                <!-- tile header -->
                <div class="tile-header color bg-transparent-black-5 rounded-corners">
                    <ul class="chat-nav side-nav inline">
                        <li><h3><strong data-bind="text:presentChat().friend() === undefined ?'': presentChat().friend().userName()">Ing. Imrich</strong></h3></li>
                        <li class="pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-transparent-white" data-bind="click:hideMessagesPanel.bind()"><i class="fa fa-plus"></i> New Message</button>
                                <button type="button" class="btn btn-transparent-white dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> Actions <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                                <input type="text" class="form-control input-sm" placeholder="Search..." id="chat-search">
                                <button type="button" class="btn btn-transparent-white" id="initialize-search"><i class="fa fa-search"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body transparent nopadding">

                    <div class="chat-content" id="chat-content" data-bind="event: { scroll: scrollingMessageBox}">
                        <ul class="chat-list">


                            <!-- ko foreach: presentChat().messages() -->

                            <!-- ko if: Number($parent.presentChat().presentPageDetail().number) === Number(0) && $parent.isFirstConversationMessage($data) -->
                            <li class="conversation-divider"><span data-bind="text:'Conversation started at' + ' ' + $parent.convertTimeToDate(dateCreated())">Conversation started at 26.03.2014</span></li>
                            <!-- /ko -->

                            <!-- ko if: !$parent.isFirstConversationMessage($data) && $parent.isFirstMessageOfANewDay($data) -->
                            <li class="conversation-divider"><span data-bind="text: $parent.convertTimeToDate(dateCreated())">29.03.2014</span></li>
                            <!-- /ko -->

                            <li data-bind="if: Number(sender.id()) === Number($root.presentChat().id())" class="message receive">
                                <div class="media" data-bind="hasBeenSeen:$data">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/ici-avatar.jpg">
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#" data-bind="text:sender.userName()">Ing. Imrich Kamarel</a> <span class="time" data-bind="text: $parent.convertTime(dateCreated())">26.3.2014 18:36</span></p>
                                        <span class="media-text" data-bind="text: message()">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                                    </div>
                                </div>
                            </li>

                            <li data-bind="if: Number(sender.id()) != Number($root.presentChat().id())" class="message sent">
                                <div class="media">
                                    <div class="pull-left user-avatar">
                                        <img class="media-object img-circle" src="assets/images/profile-photo.jpg">
                                    </div>
                                    <div class="media-body" data-bind="style: { 'background-color': String(messageStatus()) === String('DELIVERED') ? 'rgba(0, 0, 0, 0.15)' : 'rgba(255,0,44,0.09)' }">
                                        <p class="media-heading"><a href="#" data-bind="text:sender.userName()">John Douey</a> <span class="time" data-bind="text: $parent.convertTime(dateCreated())">26.3.2014 18:38</span></p>
                                        <span data-bind="text: message()">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                            </li>

                            <!-- /ko -->

                            <div class="chat-loader" data-bind="if: presentChat().loadingMessages()">

                                <img src="assets/images/loaders/disqus.svg" width="60px" style="border: none; display: block; margin: 0 auto;"></img>

                            </div>

                        </ul>
                    </div>

                </div>
                <!-- /tile body -->




                <!-- tile footer -->
                <div class="tile-footer transparent nopadding">

                    <div class="chat-reply" id="chat-reply">
                        <!-- ko if: pressEnterToSend() -->
                        <textarea data-bind="valueUpdate: 'afterkeydown',executeOnEnter:sendMessageOnEnterKeyPressed, value:messageToBeSent" placeholder="Post a reply..." class="form-control"></textarea>
                        <!-- /ko -->
                        <!-- ko if: !pressEnterToSend() -->
                        <textarea data-bind="valueUpdate: 'afterkeydown', value:messageToBeSent" placeholder="Post a reply..." class="form-control"></textarea>
                        <!-- /ko -->
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-transparent-white"><i class="fa fa-paperclip"></i> Add Files</button>
                            <button type="button" class="btn btn-transparent-white last-in-group"><i class="fa fa-camera"></i> Add Photos</button>
                            <button type="button" class="btn btn-transparent-white last pull-right" data-bind="click: sendMessage">Reply</button>
                            <div class="checkbox check-transparent pull-right">
                                <input type="checkbox" value="1" id="send-by-enter" data-bind="checked: pressEnterToSend">
                                <label for="send-by-enter">Press Enter to send</label>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /tile footer -->


            </section>
            <!-- /tile -->


        </div>


    </div>
    <!-- /row -->


</div>
<!-- /content container -->
