
          <!-- page header -->
          <div class="pageheader">

            <h2><i class="fa fa-user" style="line-height: 46px;padding-left: 0;"></i> Profile </h2>
            

            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>You are here</li>
                <li><a href="index.html">Gambeat</a></li>
                <li><a href="#">Social</a></li>
                <li class="active">My Profile</li>
              </ol>
            </div>


          </div>
          <!-- /page header -->

          <!-- content main container -->
          <div class="main" id="my-profile">

           <!-- row -->
            <div class="row">

              <!-- col 4 -->
              <div class="col-md-4">
                <!-- tile -->
                <section class="tile transparent">

                  <!-- tile header -->
                  <div class="tile-header nopadding">               
                    <div class="controls">
                      <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile widget -->
                  <div class="tile-widget color transparent-white rounded-top-corners">
                    
                    <div class="user-card">
                      <h3><strong data-bind="text: fullName"> </strong> </h3>
                      <ul class="profile-controls inline">
                        <li class="avatar"><img src="assets/images/profile-photo.jpg" alt class="img-circle profile-photo"></li>
                      </ul>
                      <h5 data-bind="text: userName"></h5>
                      <div class="social-networks">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-github-square"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                      </div>
                    </div>                       

                  </div>
                  <!-- /tile widget -->

                  <!-- tile body -->
                  <div class="tile-body color transparent-black textured rounded-bottom-corners">
                    <ul class="inline divided social-feed">
                      <li>
                        <h4 data-bind="text: playerStats.matchPlayed"></h4>
                        Matches
                      </li>
                      <li>
                        <h4 data-bind="text: playerStats.wins"></h4>
                        Win
                      </li>
                      <li>
                        <h4 data-bind="text: playerStats.loss"></h4>
                        Loss
                      </li>
                    </ul>
                  </div>
                  <!-- /tile body -->
                


                </section>
                <!-- /tile -->



                <!-- tile -->
                <section class="tile color transparent-black">




                  <!-- tile header -->
                  <div class="tile-header">
                  <h1><strong>About</strong> Me</h1>               
                    <div class="controls">
                      <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->


                  <!-- tile body -->
                  <div class="tile-body padding-top-0">
                    <p class="about-me" data-bind="text: bio"></p>
                  </div>
                  <!-- /tile body -->
                

                </section>
                <!-- /tile -->


              </div>
              <!-- /col 4 -->


              <!-- col 8 -->
              <div class="col-md-8">
              

                
                <!-- tile -->
                <section class="tile transparent">

                  <!-- tile widget -->
                  <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabdrop">
                      <li class="active"><a href="#stats-tab" data-toggle="tab">Stats</a></li>
                      <li><a href="#settings-tab" data-toggle="tab">Personal Details</a></li>
                      <li><a href="#security-details-tab" data-toggle="tab">Security Details</a></li>
                    </ul>
                    <!-- / Nav tabs -->
                  </div>
                  <!-- /tile widget -->

                  <!-- tile body -->
                  <div class="tile-body tab-content rounded-bottom-corners">

                    <!-- Tab panes -->                 
                    <flip-card id="stats-tab" class="tab-pane fade in active">
                      
                      <div class="row cards">
                        
                                      <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                        <div class="card card-blue hover">
                                          <div class="front">
                        
                                            <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>
                        
                                              <div class="media-body">
                                                <small>Games Played</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.matchPlayed }" data-animation-duration="1500">0</h2>
                                              </div>
                                            </div>
                        
                                            <div class="progress-list">
                                              <div class="details">
                                                <div class="title">Total matched played %</div>
                                              </div>
                                              <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                              </div>
                                            </div>
                        
                                          </div>
                                          <div class="back">
                                            <a href="#">
                                              <i class="fa fa-bar-chart-o fa-4x"></i>
                                              <span>Check Summary</span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                        
                        
                                      <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                        <div class="card card-blue hover">
                                          <div class="front">
                        
                                            <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>
                        
                                              <div class="media-body">
                                                <small>Win</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.wins }" data-animation-duration="1500">0</h2>
                                              </div>
                                            </div>
                        
                                            <div class="progress-list">
                                              <div class="details">
                                                <div class="title">Cummulative win %</div>
                                              </div>
                                              <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-bind="attr:{'data-value': playerStats.percentageWin }" data-animation-duration="1500">0</span>%
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-bind="attr:{'data-percentage': playerStats.percentageWin() + '%'}" ></div>
                                              </div>
                                            </div>
                        
                                          </div>
                                          <div class="back">
                                            <a href="#">
                                              <i class="fa fa-bar-chart-o fa-4x"></i>
                                              <span>Check Summary</span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                        
                        
                        
                                      <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                        <div class="card card-blue hover">
                                          <div class="front">
                        
                                            <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>
                        
                                              <div class="media-body">
                                                <small>Loss</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.loss}" data-animation-duration="1500">0</h2>
                                              </div>
                                            </div>
                        
                                            <div class="progress-list">
                                              <div class="details">
                                                <div class="title">Cummulative loss %</div>
                                              </div>
                                              <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-bind="attr:{'data-value': playerStats.percentageLoss}" data-animation-duration="1500">0</span>%
                                              </div>
                                              <div class="clearfix"></div>
                                              <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-bind="attr:{'data-percentage': playerStats.percentageLoss() + '%'}"></div>
                                              </div>
                                            </div>
                        
                                          </div>
                                          <div class="back">
                                            <a href="#">
                                              <i class="fa fa-bar-chart-o fa-4x"></i>
                                              <span>Check Summary</span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                        
                                    </div>
                                    <!-- /cards -->


                                    <!-- cards -->
            <div class="row cards">
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Wallet</small>
                                        <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.wallet}" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Gambeat wallet %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Profit</small>
                                        <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.profit}" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative money won %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-bind="attr:{'data-value': playerStats.percentageProfit}" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-bind="attr:{'data-percentage': playerStats.percentageProfit() + '%'}"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-xs-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Expenses</small>
                                        <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.expenses}" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative money loss %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-bind="attr:{'data-value': playerStats.percentageExpenses}" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-bind="attr:{'data-percentage': playerStats.percentageExpenses() + '%'}" data-percentage="25%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                            </div>
                            <!-- /cards -->
                

                             <!-- cards -->
            <div class="row cards">
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Friends</small>
                                        <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.friends}" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative friends %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Referrer</small>
                                        <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.referrer}" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cumulative referrer %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                              <div class="card-container col-lg-4 col-sm-6 col-xs-12">
                                <div class="card card-blue hover">
                                  <div class="front">
                
                                    <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>
                
                                      <div class="media-body">
                                        <small>Referrals</small>
                                        <h2 class="media-heading animate-number" data-bind="attr:{'data-value': playerStats.referrals}" data-animation-duration="1500">0</h2>
                                      </div>
                                    </div>
                
                                    <div class="progress-list">
                                      <div class="details">
                                        <div class="title">Cummulative referrals %</div>
                                      </div>
                                      <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                      </div>
                                    </div>
                
                                  </div>
                                  <div class="back">
                                    <a href="#">
                                      <i class="fa fa-bar-chart-o fa-4x"></i>
                                      <span>Check Summary</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                
                
                            </div>
                            <!-- /cards -->
                
                            
                
                
                
                        

                    </flip-card>



                    <div id="settings-tab" class="tab-pane fade in">
                      

                      <form class="profile-settings"  method="post" data-bind="submit: basicUpdate">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Personal</strong> Settings</h4>
                            <p>Your personal account settings</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label for="first-name">First Name</label>
                            <input type="text" class="form-control" id="first-name"  data-bind="textInput: firstName">
                          </div>

                          <div class="form-group col-sm-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" data-bind="textInput: lastName">
                          </div>

                        </div>

                        <div class="row">
                          
                          <div class="form-group col-sm-6">
                            <label>User Name</label>
                            <input type="text" class="form-control" data-bind="textInput: userName" readonly>
                          </div>
                          
                          <div class="form-group col-sm-6">
                            <label>Gender</label>
                            <select class="chosen-select form-control" data-bind="textInput: gender">
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                          </div>
                          
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-12">
                            <label >Address Line</label>
                            <input type="text" class="form-control" data-bind="textInput: address">
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-4">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" value="" readonly>
                          </div>

                          <div class="form-group col-sm-4">
                            <label for="state">State/Provice</label>
                            <input type="text" class="form-control" id="state" value="" readonly>
                          </div>

                          <div class="form-group col-sm-4">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" id="zip" value="" readonly>
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>E-mail</label>
                            <input type="email" class="form-control" data-bind="textInput: email" readonly>
                          </div>

                          <div class="form-group col-sm-6">
                            <label>Country</label>
                            <select class="chosen-select form-control">
                              <option value="Åland Islands">Åland Islands</option>
                              <option value="Afghanistan">Afghanistan</option>
                              <option value="Albania">Albania</option>
                              <option value="Algeria">Algeria</option>
                              <option value="American Samoa">American Samoa</option>
                              <option value="Andorra">Andorra</option>
                              <option value="Angola">Angola</option>
                              <option value="Anguilla">Anguilla</option>
                              <option value="Antarctica">Antarctica</option>
                              <option value="Antigua And Barbuda">Antigua And Barbuda</option>
                              <option value="Argentina">Argentina</option>
                              <option value="Armenia">Armenia</option>
                              <option value="Aruba">Aruba</option>
                              <option value="Australia">Australia</option>
                              <option value="Austria">Austria</option>
                              <option value="Azerbaijan">Azerbaijan</option>
                              <option value="Bahamas">Bahamas</option>
                              <option value="Bahrain">Bahrain</option>
                              <option value="Bangladesh">Bangladesh</option>
                              <option value="Barbados">Barbados</option>
                              <option value="Belarus">Belarus</option>
                              <option value="Belgium">Belgium</option>
                              <option value="Belize">Belize</option>
                              <option value="Benin">Benin</option>
                              <option value="Bermuda">Bermuda</option>
                              <option value="Bhutan">Bhutan</option>
                              <option value="Bolivia">Bolivia</option>
                              <option value="Bosnia">Bosnia and Herzegovina</option>
                              <option value="Botswana">Botswana</option>
                              <option value="Bouvet">Bouvet Island</option>
                              <option value="Brazil">Brazil</option>
                              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                              <option value="Brunei">Brunei</option>
                              <option value="Bulgaria">Bulgaria</option>
                              <option value="Burkina Faso">Burkina Faso</option>
                              <option value="Burundi">Burundi</option>
                              <option value="Cambodia">Cambodia</option>
                              <option value="Cameroon">Cameroon</option>
                              <option value="Canada">Canada</option>
                              <option value="Cape Verde">Cape Verde</option>
                              <option value="Cayman Islands">Cayman Islands</option>
                              <option value="Central African Republic">Central African Republic</option>
                              <option value="Chad">Chad</option>
                              <option value="Chile">Chile</option>
                              <option value="China">China</option>
                              <option value="Christmas Island">Christmas Island</option>
                              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                              <option value="Colombia">Colombia</option>
                              <option value="Comoros">Comoros</option>
                              <option value="Congo">Congo</option>
                              <option value="Congo, Democractic Republic">Congo, Democractic Republic</option>
                              <option value="Cook Islands">Cook Islands</option>
                              <option value="Costa Rica">Costa Rica</option>
                              <option value="Cote D'Ivoire (Ivory Coast)">Cote D'Ivoire (Ivory Coast)</option>
                              <option value="Croatia (Hrvatska)">Croatia (Hrvatska)</option>
                              <option value="Cuba">Cuba</option>
                              <option value="Cyprus">Cyprus</option>
                              <option value="Czech Republic">Czech Republic</option>
                              <option value="Denmark">Denmark</option>
                              <option value="Djibouti">Djibouti</option>
                              <option value="Dominica">Dominica</option>
                              <option value="Dominican Republic">Dominican Republic</option>
                              <option value="East Timor">East Timor</option>
                              <option value="Ecuador">Ecuador</option>
                              <option value="Egypt">Egypt</option>
                              <option value="El Salvador">El Salvador</option>
                              <option value="Equatorial Guinea">Equatorial Guinea</option>
                              <option value="Eritrea">Eritrea</option>
                              <option value="Estonia">Estonia</option>
                              <option value="Ethiopia">Ethiopia</option>
                              <option value="Falkland Islands (Islas Malvinas)">Falkland Islands (Islas Malvinas)</option>
                              <option value="Faroe Islands">Faroe Islands</option>
                              <option value="Fiji Islands">Fiji Islands</option>
                              <option value="Finland">Finland</option>
                              <option value="France">France</option>
                              <option value="France, Metropolitan">France, Metropolitan</option>
                              <option value="French Guiana">French Guiana</option>
                              <option value="French Polynesia">French Polynesia</option>
                              <option value="French Southern Territories">French Southern Territories</option>
                              <option value="Gabon">Gabon</option>
                              <option value="Gambia">Gambia</option>
                              <option value="Georgia">Georgia</option>
                              <option value="Germany">Germany</option>
                              <option value="Ghana">Ghana</option>
                              <option value="Gibraltar">Gibraltar</option>
                              <option value="Greece">Greece</option>
                              <option value="Greenland">Greenland</option>
                              <option value="Grenada">Grenada</option>
                              <option value="Guadeloupe">Guadeloupe</option>
                              <option value="Guam">Guam</option>
                              <option value="Guatemala">Guatemala</option>
                              <option value="Guernsey">Guernsey</option>
                              <option value="Guinea">Guinea</option>
                              <option value="Guinea-Bissau">Guinea-Bissau</option>
                              <option value="Guyana">Guyana</option>
                              <option value="Haiti">Haiti</option>
                              <option value="Heard and McDonald Islands">Heard and McDonald Islands</option>
                              <option value="Honduras">Honduras</option>
                              <option value="Hong Kong S.A.R.">Hong Kong S.A.R.</option>
                              <option value="Hungary">Hungary</option>
                              <option value="Iceland">Iceland</option>
                              <option value="India">India</option>
                              <option value="Indonesia">Indonesia</option>
                              <option value="Iran">Iran</option>
                              <option value="Iraq">Iraq</option>
                              <option value="Ireland">Ireland</option>
                              <option value="Isle of Man">Isle of Man</option>
                              <option value="Israel">Israel</option>
                              <option value="Italy">Italy</option>
                              <option value="Jamaica">Jamaica</option>
                              <option value="Japan">Japan</option>
                              <option value="Jersey">Jersey</option>
                              <option value="Jordan">Jordan</option>
                              <option value="Kazakhstan">Kazakhstan</option>
                              <option value="Kenya">Kenya</option>
                              <option value="Kiribati">Kiribati</option>
                              <option value="Korea">Korea</option>
                              <option value="Korea, North">Korea, North</option>
                              <option value="Kuwait">Kuwait</option>
                              <option value="Kyrgyzstan">Kyrgyzstan</option>
                              <option value="Laos">Laos</option>
                              <option value="Latvia">Latvia</option>
                              <option value="Lebanon">Lebanon</option>
                              <option value="Lesotho">Lesotho</option>
                              <option value="Liberia">Liberia</option>
                              <option value="Libya">Libya</option>
                              <option value="Liechtenstein">Liechtenstein</option>
                              <option value="Lithuania">Lithuania</option>
                              <option value="Luxembourg">Luxembourg</option>
                              <option value="Macau S.A.R.">Macau S.A.R.</option>
                              <option value="Macedonia">Macedonia</option>
                              <option value="Madagascar">Madagascar</option>
                              <option value="Malawi">Malawi</option>
                              <option value="Malaysia">Malaysia</option>
                              <option value="Maldives">Maldives</option>
                              <option value="Mali">Mali</option>
                              <option value="Malta">Malta</option>
                              <option value="Marshall Islands">Marshall Islands</option>
                              <option value="Martinique">Martinique</option>
                              <option value="Mauritania">Mauritania</option>
                              <option value="Mauritius">Mauritius</option>
                              <option value="Mayotte">Mayotte</option>
                              <option value="Mexico">Mexico</option>
                              <option value="Micronesia">Micronesia</option>
                              <option value="Moldova">Moldova</option>
                              <option value="Monaco">Monaco</option>
                              <option value="Mongolia">Mongolia</option>
                              <option value="Montenegro">Montenegro</option>
                              <option value="Montserrat">Montserrat</option>
                              <option value="Morocco">Morocco</option>
                              <option value="Mozambique">Mozambique</option>
                              <option value="Myanmar">Myanmar</option>
                              <option value="Namibia">Namibia</option>
                              <option value="Nauru">Nauru</option>
                              <option value="Nepal">Nepal</option>
                              <option value="Netherlands">Netherlands</option>
                              <option value="Netherlands Antilles">Netherlands Antilles</option>
                              <option value="New Caledonia">New Caledonia</option>
                              <option value="New Zealand">New Zealand</option>
                              <option value="Nicaragua">Nicaragua</option>
                              <option value="Niger">Niger</option>
                              <option value="Nigeria">Nigeria</option>
                              <option value="Niue">Niue</option>
                              <option value="Norfolk Island">Norfolk Island</option>
                              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                              <option value="Norway">Norway</option>
                              <option value="Oman">Oman</option>
                              <option value="Pakistan">Pakistan</option>
                              <option value="Palau">Palau</option>
                              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                              <option value="Panama">Panama</option>
                              <option value="Papua new Guinea">Papua new Guinea</option>
                              <option value="Paraguay">Paraguay</option>
                              <option value="Peru">Peru</option>
                              <option value="Philippines">Philippines</option>
                              <option value="Pitcairn Island">Pitcairn Island</option>
                              <option value="Poland">Poland</option>
                              <option value="Portugal">Portugal</option>
                              <option value="Puerto Rico">Puerto Rico</option>
                              <option value="Qatar">Qatar</option>
                              <option value="Reunion">Reunion</option>
                              <option value="Romania">Romania</option>
                              <option value="Russia">Russia</option>
                              <option value="Rwanda">Rwanda</option>
                              <option value="Saint Helena">Saint Helena</option>
                              <option value="Saint Kitts And Nevis">Saint Kitts And Nevis</option>
                              <option value="Saint Lucia">Saint Lucia</option>
                              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                              <option value="Saint Vincent And The Grenadines">Saint Vincent And The Grenadines</option>
                              <option value="Samoa">Samoa</option>
                              <option value="San Marino">San Marino</option>
                              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                              <option value="Saudi Arabia">Saudi Arabia</option>
                              <option value="Senegal">Senegal</option>
                              <option value="Serbia">Serbia</option>
                              <option value="Seychelles">Seychelles</option>
                              <option value="Sierra Leone">Sierra Leone</option>
                              <option value="Singapore">Singapore</option>
                              <option value="Sint Maarten">Sint Maarten</option>
                              <option value="Slovakia">Slovakia</option>
                              <option value="Slovenia">Slovenia</option>
                              <option value="Solomon Islands">Solomon Islands</option>
                              <option value="Somalia">Somalia</option>
                              <option value="South Africa">South Africa</option>
                              <option value="South Georgia And The South Sandwich Islands">South Georgia And The South Sandwich Islands</option>
                              <option value="Spain">Spain</option>
                              <option value="Sri Lanka">Sri Lanka</option>
                              <option value="Sudan">Sudan</option>
                              <option value="Suriname">Suriname</option>
                              <option value="Svalbard And Jan Mayen Islands">Svalbard And Jan Mayen Islands</option>
                              <option value="Swaziland">Swaziland</option>
                              <option value="Sweden">Sweden</option>
                              <option value="Switzerland">Switzerland</option>
                              <option value="Syria">Syria</option>
                              <option value="Taiwan">Taiwan</option>
                              <option value="Tajikistan">Tajikistan</option>
                              <option value="Tanzania">Tanzania</option>
                              <option value="Thailand">Thailand</option>
                              <option value="Timor-Leste">Timor-Leste</option>
                              <option value="Togo">Togo</option>
                              <option value="Togo">Tokelau</option>
                              <option value="Tonga">Tonga</option>
                              <option value="Trinidad And Tobago">Trinidad And Tobago</option>
                              <option value="Tunisia">Tunisia</option>
                              <option value="Turkey">Turkey</option>
                              <option value="Turkmenistan">Turkmenistan</option>
                              <option value="Turks And Caicos Islands">Turks And Caicos Islands</option>
                              <option value="Tuvalu">Tuvalu</option>
                              <option value="Uganda">Uganda</option>
                              <option value="Ukraine">Ukraine</option>
                              <option value="United Arab Emirates">United Arab Emirates</option>
                              <option value="United Kingdom">United Kingdom</option>
                              <option value="United States">United States</option>
                              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                              <option value="Uruguay">Uruguay</option>
                              <option value="Uzbekistan">Uzbekistan</option>
                              <option value="Vanuatu">Vanuatu</option>
                              <option value="Vatican City State (Holy See)">Vatican City State (Holy See)</option>
                              <option value="Venezuela">Venezuela</option>
                              <option value="Vietnam">Vietnam</option>
                              <option value="Virgin Islands (British)">Virgin Islands (British)</option>
                              <option value="Virgin Islands (US)">Virgin Islands (US)</option>
                              <option value="Wallis And Futuna Islands">Wallis And Futuna Islands</option>
                              <option value="WESTERN SAHARA">WESTERN SAHARA</option>
                              <option value="Yemen">Yemen</option>
                              <option value="Zambia">Zambia</option>
                              <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>Phone</label>
                            <input type="text" class="form-control" data-bind="textInput: phoneNumber" readonly>
                            <span class="help-block">+(421) 999 999 999</span>
                          </div>

                          <!--<div class="form-group col-sm-6">
                            <label for="avatar">Avatar</label>
                            <div class="input-group">
                              <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                  <i class="fa fa-upload"></i><input type="file" multiple="">
                                </span>
                              </span>
                              <input type="text" class="form-control" readonly="" id="avatar">
                            </div>
                            <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
                          </div>-->

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-12">
                            <label>Bio</label>
                            <textarea class="form-control" data-bind="textInput: bio" rows="4"></textarea>
                          </div>

                        </div>

                        
                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>Profile Visibility</label>
                            <div class="radio">
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="everyone" checked="">
                              <label for="optionsRadios1">For Everyone</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="optionsRadios" id="optionsRadios2" value="friends">
                              <label for="optionsRadios2">For Friends</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="optionsRadios" id="optionsRadios3" value="hidden">
                              <label for="optionsRadios3">Hidden for Everyone</label>
                            </div>
                          </div>

                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Update" />
                        </div>

                      </form>
                    

                    </div>
                    <!-- / Tab panes -->


                    <div id="security-details-tab" class="tab-pane fade in">
                      

                      <form class="change-password" method="post" data-bind="submit: updatePassword">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> Password</h4>
                            <p>Secure your account</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>Current Password</label>
                            <input type="password" class="form-control" data-bind="textInput: password" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label>Re-enter Current Password</label>
                            <input type="password" class="form-control" data-bind="textInput: currentPassword">
                          </div>

                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>New Password</label>
                            <input type="password" class="form-control" data-bind="textInput: newPassword">
                          </div>

                          <div class="form-group col-sm-6">
                            <label>New Password Repeat</label>
                            <input type="password" class="form-control" data-bind="textInput: repeatNewPassword">
                          </div>

                        </div>


                        

                        <div class="row">
                          
                          <div class="form-group col-sm-6">
                            <label>A token will be sent to you, send token via:</label>
                            <div class="">
                              <input type="radio" name="send-token" value="SMS" data-bind="checked: sendVia_Password">
                              <label>SMS</label>
                            </div>
                            <div class="">
                              <input type="radio" name="send-token" value="EMAIL" data-bind="checked: sendVia_Password">
                              <label>E-Mail</label>
                            </div>
                          </div>
                          
                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Submit" />
                        </div>

                      
                      </form>
                    
                      <form class="change-email" data-bind="submit: updateEmail">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> E-mail</h4>
                            <p>Secure your account (Token would be sent via sms)</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>Current E-mail</label>
                            <input type="password" class="form-control" data-bind="textInput: email" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label>New E-mail</label>
                            <input type="email" data-bind="textInput: newEmail" class="form-control" value="">
                          </div>

                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Submit" />
                        </div>

                      
                      </form>

                      <form class="change-number"  method="post" data-bind="submit: updatePhoneNumber">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> Number</h4>
                            <p>Secure your account (Token would be sent via email)</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>Current Number</label>
                            <input type="tel" class="form-control" id="current-number" data-bind="textInput: phoneNumber" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label>New Number</label>
                            <input type="tel" class="form-control" id="number" data-bind="textInput: newPhoneNumber">
                          </div>

                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Submit" />
                        </div>

                      
                      </form>

                      <form class="change-username" method="post" data-bind="submit: updateUserName">
                        
                        <div class="row">
                          <div class="form-group col-md-12 legend">
                            <h4><strong>Change</strong> User Name</h4>
                            <p>Secure your account</p>
                          </div>
                        </div>

                        <div class="row">

                          <div class="form-group col-sm-6">
                            <label>Current User Name</label>
                            <input type="text" class="form-control" id="current-username" data-bind="textInput: userName" readonly>
                          </div>


                          <div class="form-group col-sm-6">
                            <label>New User Name</label>
                            <input type="text" class="form-control" data-bind="textInput: newUserName">
                          </div>

                        </div>

                        <div class="row">
                          
                          <div class="form-group col-sm-6">
                            <label>A token will be sent to you, send token via:</label>
                            <div class="">
                              <input type="radio" name="send-token-option" value="SMS" data-bind="checked: sendVia_UserName">
                              <label>SMS</label>
                            </div>
                            <div class="">
                              <input type="radio" name="send-token-option" value="EMAIL" data-bind="checked: sendVia_UserName">
                              <label>Mail</label>
                            </div>
                          </div>
                          
                        </div>

                        <div class="row btn-center">
                          <input class="btn  btn-primary margin-bottom-20 form-group col-sm-12" type="submit" value="Submit" />
                        </div>



                      
                      </form>
                    

                    </div>
                    <!-- / Tab panes -->


                  </div>
                  <!-- /tile body -->
                


                </section>
                <!-- /tile -->
                

              </div>
              <!-- /col 8 -->
              
            </div>
            <!-- /row -->


          </div>  
          <!-- /content container -->

