
<!-- page header -->
<div class="pageheader">


    <h2><i class="fa fa-user" style="line-height: 48px;padding-left: 5px;"></i> Referrer <span> </span></h2>


    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="index.html">Gambeat</a></li>
            <li><a href="ui-elements.html">Social</a></li>
            <li class="active">Referrer</li>
        </ol>
    </div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main" id="no-referrer">




    <!-- row -->
    <div class="row">

        <!-- col 12 -->
        <div class="col-md-12">


            <!-- tile -->
            <section class="tile transparent">



                <div class="jumbotron bg-transparent-black-3">

                    <div class="container text-center">
                        <h1>Hello, <span data-bind="text: user.userName"></span></h1>
                        <p> You currently have <strong>No Referrer</strong>. Getting one is easy, simply search for a user and click on the "add referrer" button on his profile page.</p>
                        <p><a  href="#/home" class="btn btn-red btn-large">Go Home</a></p>
                    </div>

                </div>


            </section>
            <!-- /tile -->




        </div>
        <!-- /col 12 -->



    </div>
    <!-- /row -->


</div>
<!-- /content container -->