<div class="pageheader">


    <h2><i class="fa fa-user" style="line-height: 46px;padding-left: 0;"></i> Referrer <span></span></h2>


    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="index.html">Gambeat</a></li>
            <li><a href="#">Social</a></li>
            <li class="active">Referrer</li>
        </ol>
    </div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main" id="referrers-profile">



    <!-- row -->
    <div class="row">




        <!-- col 4 -->
        <div class="col-md-4">


            <!-- tile -->
            <section class="tile transparent">




                <!-- tile header -->
                <div class="tile-header nopadding">
                    <div class="controls">
                        <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                        <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- /tile header -->

                <!-- tile widget -->
                <div class="tile-widget color transparent-white rounded-top-corners">

                    <div class="user-card">
                        <h3><strong data-bind="text: user.fullName"> </strong></h3>
                        <ul class="profile-controls inline">
                            <li class="mailto"><a href="#"><i class="fa fa-envelope"></i>Message </a></li>
                            <li class="avatar"><img src="assets/images/profile-photo.jpg" alt class="img-circle profile-photo"></li>
                            <li class="callto"  id="make-call">
                                <a>

                                    <span data-bind="if: friendRequestStatus() === 'ACCEPTED'" class="call">remove<i class="fa fa-user"></i></span>

                                    <span data-bind="if: friendRequestStatus() === 'PENDING', click: addFriend" class="call">pending<i class="fa fa-user"></i></span>

                                    <span data-bind="if: friendRequestStatus() === 'DECLINED', click: addFriend" class="call">add <i class="fa fa-user"></i></span>

                                    <!--<span class="calling">Pending <i class="fa fa-user"></i></span>-->
                                </a>
                            </li>
                        </ul>
                        <h5 data-bind="text: user.userName"></h5>
                    </div>

                </div>
                <!-- /tile widget -->

                <!-- tile body -->
                <div class="tile-body color transparent-black textured rounded-bottom-corners">
                    <ul class="inline divided social-feed">
                        <li>
                            <h4 data-bind="text: user.playerStats.matchPlayed"></h4>
                            Matches
                        </li>
                        <li>
                            <h4 data-bind="text: user.playerStats.wins"></h4>
                            Win
                        </li>
                        <li>
                            <h4 data-bind="text: user.playerStats.loss"></h4>
                            Loss
                        </li>
                    </ul>
                </div>
                <!-- /tile body -->



            </section>
            <!-- /tile -->



            <!-- tile -->
            <section class="tile color transparent-black">




                <!-- tile header -->
                <div class="tile-header">
                    <h1><strong>About</strong> Me</h1>
                    <div class="controls">
                        <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                        <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- /tile header -->


                <!-- tile body -->
                <div class="tile-body padding-top-0">
                    <p class="about-me" data-bind="text: user.bio"></p>
                </div>
                <!-- /tile body -->


            </section>
            <!-- /tile -->


        </div>
        <!-- /col 4 -->


        <!-- col 8 -->
        <div class="col-md-8">



            <!-- tile -->
            <section class="tile transparent">

                <!-- tile widget -->
                <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabdrop">
                        <li class="active"><a href="#feed-tab" data-toggle="tab">Stats</a></li>
                        <li><a href="#tasks-tab" data-toggle="tab">Profile</a></li>
                    </ul>
                    <!-- / Nav tabs -->
                </div>
                <!-- /tile widget -->

                <!-- tile body -->
                <div class="tile-body tab-content rounded-bottom-corners">

                    <!-- Tab panes -->
                    <div id="feed-tab" class="tab-pane fade in active">

                        <div class="row cards">

                            <div class="card-container col-lg-6 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                    <div class="front">

                                        <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>

                                            <div class="media-body">
                                                <small>Games Played</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': user.playerStats.matchPlayed }" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Total matched played %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="#">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="card-container col-lg-6 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                    <div class="front">

                                        <div class="media">
                                              <span class="pull-left">
                                                <i class="fa fa-gamepad media-object"></i>
                                              </span>

                                            <div class="media-body">
                                                <small>Win</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': user.playerStats.wins }" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Cummulative win %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-bind="attr:{'data-value': user.playerStats.percentageWin }" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-bind="attr:{'data-percentage': user.playerStats.percentageWin() + '%'}"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="#">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /cards -->


                        <!-- cards -->
                        <div class="row cards">

                            <div class="card-container col-lg-6 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                    <div class="front">

                                        <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>

                                            <div class="media-body">
                                                <small>Wallet</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': user.playerStats.wallet}" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Gambeat wallet %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="#">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="card-container col-lg-6 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                    <div class="front">

                                        <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-money media-object"></i>
                                      </span>

                                            <div class="media-body">
                                                <small>Profit</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': user.playerStats.profit}" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Cummulative money won %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-bind="attr:{'data-value': user.playerStats.percentageProfit}" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-bind="attr:{'data-percentage': user.playerStats.percentageProfit() + '%'}"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="#">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /cards -->


                        <!-- cards -->
                        <div class="row cards">

                            <div class="card-container col-lg-6 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                    <div class="front">

                                        <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>

                                            <div class="media-body">
                                                <small>Friends</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': friendsCount}" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Cumulative friends %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="#">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="card-container col-lg-6 col-sm-6 col-xs-12">
                                <div class="card card-blue hover">
                                    <div class="front">

                                        <div class="media">
                                      <span class="pull-left">
                                        <i class="fa fa-user media-object"></i>
                                      </span>

                                            <div class="media-body">
                                                <small>Mutual Friends</small>
                                                <h2 class="media-heading animate-number" data-bind="attr:{'data-value': mutualFriendsCount}" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Cummulative mutual friends %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-bind="attr:{'data-value': mutualFriendsPercentage}" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-bind="attr:{'data-percentage': mutualFriendsPercentage() + '%'}"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="#/chicken">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /cards -->


                    </div>

                    <div id="tasks-tab" class="tab-pane fade in">

                        <form class="profile-settings">

                            <div class="row">
                                <div class="form-group col-md-12 legend">
                                    <h4><strong>Personal</strong> Details</h4>
                                    <p></p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" data-bind="textInput: user.firstName" readonly>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" data-bind="textInput: user.lastName" readonly>
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <label>Country</label>
                                    <input type="text" class="form-control" data-bind="textInput: user.country" readonly>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>Gender</label>
                                    <input type="text" class="form-control" id="address1" data-bind="textInput: user.gender" readonly>
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-sm-12">
                                    <label for="address1">Address Line</label>
                                    <input type="text" class="form-control" data-bind="textInput: user.address" readonly>
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-sm-4">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" value="Bratislava" readonly>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label for="state">State/Provice</label>
                                    <input type="text" class="form-control" id="state" value="Bratislava" readonly>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label>E-mail</label>
                                    <input type="text" class="form-control" data-bind="textInput: user.email" readonly>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>
                <!-- / Tab panes -->

            </section>

        </div>
        <!-- /tile body -->

    </div>
    <!-- /col 8 -->


</div>
<!-- /row -->