
<!-- page header -->
<div class="pageheader">


    <h2><i class="fa fa-lightbulb-o" style="line-height: 48px;padding-left: 0;"></i> Transactions <span></span></h2>


    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="#/home">Gambeat</a></li>
            <li><a href="#/account/transactions">Activities</a></li>
            <li class="active">Transactions</li>
        </ol>
    </div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main" id="transactions">




    <!-- row -->
    <div class="row">


        <!-- col 12 -->
        <div class="col-md-12">


            <!-- tile -->
            <section class="tile transparent">


                <!-- tile header -->
                <div class="tile-header transparent">
                    <h1><strong>Stats</strong> Table </h1>
                    <div class="controls">
                        <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                        <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body color transparent-black rounded-corners">

                    <div class="table-responsive">
                        <table  class="table table-datatable table-custom" id="basicDataTable">
                            <thead>
                            <tr>
                                <th class="sort-alpha">Date</th>
                                <th class="sort-alpha">Type</th>
                                <th class="sort-amount">Amount</th>
                                <th class="sort-numeric">ReferenceID</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /tile body -->



            </section>
            <!-- /tile -->


        </div>
        <!-- /col 12 -->



    </div>
    <!-- /row -->



</div>
<!-- /content container -->