

<!-- page header -->
<!--suppress XmlDuplicatedId -->
<div class="pageheader">


    <h2><i class="fa fa-credit-card" style="line-height: 46px;padding-left: 0;"></i> Withdraw</h2>


    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="index.html">Gambeat</a></li>
            <li><a href="#">Account</a></li>
            <li class="active">Withdraw</li>
        </ol>
    </div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main deposit" id="deposit">

    <!-- row -->
    <div class="row centered deposit-row">

        <!-- col 12 -->
        <div class="col-md-5">


            <!-- tile -->
            <section class="tile color transparent-white">



                <!-- tile header -->
                <div class="tile-header">
                    <h1><strong>Enter</strong> Amount</h1>
                    <div class="controls">
                        <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                        <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body">

                    <form class="form-horizontal" role="form" parsley-validate id="numbervalidations">

                        <div class="form-group">
                            <label for="depositAmount" class="col-sm-4">Available balance </label>
                            <div class="col-sm-12">
                                <input data-bind="textInput: transactionModel.withdrawModel.availableBalance" type="number" class="form-control" id="amount-available" parsley-trigger="change" parsley-required="true" parsley-type="number" parsley-min="10" parsley-validation-minlength="0" placeholder="minimum = N200" readonly>
                            </div>
                            <label for="depositAmount" class="col-sm-4">Withdrawal amount </label>
                            <div class="col-sm-12">
                                <input data-bind="textInput: transactionModel.withdrawModel.withdrawalAmount" min="100" type="number" class="form-control" id="depositAmount" parsley-trigger="change" parsley-required="true" parsley-type="number" parsley-min="10" parsley-validation-minlength="0" placeholder="minimum = N200">
                            </div>


                                <div class="col-sm-12">

                                    <label>A token will be sent to you, send token via:</label>

                                    <div class="">
                                        <input type="radio" name="send-token" value="false" data-bind="checked: transactionModel.withdrawModel.viaEmail">
                                        <label>SMS</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" name="send-token" value="true" data-bind="checked: transactionModel.withdrawModel.viaEmail">
                                        <label>E-Mail</label>
                                    </div>

                                </div>

                        </div>


                        <div class="form-group form-footer footer-black-transparent">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button data-bind="click: function(){initWithdrawal()}" class="btn btn-primary">
                                    Withdraw <i class="fa fa-credit-card"></i>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /tile body -->




            </section>
            <!-- /tile -->





        </div>
        <!-- /col 12 -->



    </div>
    <!-- /row -->



</div>
<!-- /content container -->
