﻿/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
GOOGLE FONT
============================================================ */

@import url(http://fonts.googleapis.com/css?family=Amita); /* FREE GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=Oswald); /* FREE GOOGLE FONT */



/* =============================================================
GENERAL STYLES
============================================================ */
body {
	font-family: 'Amita';
	color: #fff;


}

section {
	padding-top: 35px;
	margin-bottom: 150px;
}

.pad-bottom {
	padding-bottom: 60px;
}

.header {
	font-family: 'Amita';
	padding-bottom: 40px;
	text-transform: uppercase;
}

.header hr {
	width: 50px;
	border-top: 2px solid rgb(57, 171, 111);
}


/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin: 25px 5px 5px 0px;
	margin: 5px;
}

.btn-custom-one {
	background-color: transparent;
	color: #fff;
	border: 2px solid rgb(57, 171, 111);
}

.btn-custom-one:hover {
	background-color: rgb(57, 171, 111);
	text-decoration: none;
	color: #fff;
}

.btn-custom-two {
	color: #fff;
	background-color: rgb(57, 171, 111);
	border: 2px solid rgb(57, 171, 111);
}

.btn-custom-two:hover {
	border: 2px solid rgb(57, 171, 111);
	text-decoration: none;
	color: #fff;
	background-color: transparent;
}


/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.4);
	border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: transparent;
	border-bottom: 1px solid rgb(57, 171, 111);
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 12px;
	font-weight: 800;
	padding: 5px 0px;
	letter-spacing: 2px;
	margin: 10px 20px 10px 20px;
	color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
	color: #fff;
	font-weight: 900;
	font-family: 'Amita';
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: rgb(57, 171, 111);
}
.navbar-inverse .navbar-toggle {
	border-color: rgb(57, 171, 111);
}


/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 60px;
}

#home .social {
	display: block;
	margin: 50px 20px;
}

/*Carousel Slider*/

#carousel-slider {
	padding: 50px 20px 5px 50px;
}

#carousel-slider h3 {
	line-height: 50px;
	font-family: 'Amita';
}

#carousel-slider p {
	color: rgb(57, 171, 111);
	font-size: 16px;
	line-height: 25px;
	margin: 25px 20px;
}

/* =============================================================
MODAL - SHARED MODAL STYLES
============================================================ */

.form-background{
	position:fixed;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.7;


}

.modal-content h4 {
	font-size: 1.5em;
	font-weight: 700;

}



/* =============================================================
MODAL - LOGIN SECTION STYLES
============================================================ */

.signin-form-body{
	font-size: 15px;
	line-height: 1.52;
	font-weight: 400;
	color: #717f86;
	margin-top: 200px;
}



.login-box-body {
	padding: 15px 30px;

}
.login-box-msg, .register-box-msg {
	margin: 0px;
	color:#717f86;
	text-align: center;
	padding: 0px 20px 20px;

}
.modal-signin-sm {
	width: 400px;

}
.padleft-right{
	padding-left: 5px;
	padding-right: 0px;

}

.btn {
	padding: 10px 20px;
	color: #fff;
}

.btn-green, .btn-green:hover{


}


/* =============================================================
MODAL - SIGN-UP SECTION STYLES
============================================================ */
.modal-signup-sm {
	width: 450px;
}

.modal-signup-dialog {
	width: 600px;
	margin-top: 100px;
}

.signup-form-body{
	font-size: 15px;
	line-height: 1.52;
	font-weight: 400;
	color: #717f86;
	margin-top: 100px;
}

.sign
{
	background: #FFF;
	-webkit-box-shadow: 3px 3px 6px 2px #2C2C2C;
	-moz-box-shadow: 3px 3px 6px 2px #2C2C2C;
	box-shadow: 3px 3px 6px 2px #2C2C2C;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
}

.signup-box-body {
	padding: 15px 30px;
}
.signup-box-msg, .register-box-msg {
	margin: 0px;
	color:#717f86;
	text-align: center;
	padding: 0px 20px 20px;
}

.formtitle {
	padding: 1em;
	line-height: 16px;
	font-size: 1.2em;
	border-radius: 5px;
	color: #ffffff;
	border-bottom: 1px solid #cdcdcd;



}


.green{

	background: #5fcf80;

}


.red{

	background: #cf1700;

}




.top_section {
	margin-top: 20px;
	border-bottom: 1px solid #DDD;
}

.bottom-section{
	margin-top: 10px;

}


.float-left
{
	float: left;
	width:49%;
}

.float-center
{
	float: left;
	width:100%;
}

.float-center input[type="text"]
{

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.float-right
{
	float: right;
	width:49%;

}




.title {
	padding: 0.5em;
	line-height: 16px;
	font-size: 1em;
	color: #1D1E20;
	border-bottom: 1px solid #cdcdcd;
	font-weight: 600;
}

.float-left input[type="text"],.float-right input[type="text"]
{

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.float-left input[type="email"],.float-right input[type="email"]
{

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


input[type="date"] {
	-webkit-align-items: center;
	display: -webkit-inline-flex;
	font-family: monospace;
	overflow: hidden;
	padding-right: 5px;
	-webkit-padding-start: 1px;
}

input::-webkit-datetime-edit {

	-webkit-user-modify: read-only !important;
	-webkit-flex: 1;
	display: inline-block;
	min-width: 0;
	overflow: hidden;
	padding: 1em;
}

input::-webkit-datetime-edit-fields-wrapper {
	-webkit-user-modify: read-only !important;
	display: inline-block;
	padding: 1px 0;
	white-space: pre;
}



.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 14px;
	font-weight: 100;
	color: grey;
	display: inline-block;
	border: 1px solid #5fcf80;
	background-color: #f1e5e6;
	padding: 0;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
	color: black;
	background: #ffffff;
	border-color: #5fcf80;
}


.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}



.inputfile + label strong {

	align-items:center-right;
	float:right;
	border-style: solid;
	border-width: 0.1px;
	border-color: #5fcf80;

}




.inputfile + label span,
.inputfile + label strong {
	padding: 0.625rem 1.25rem;

}

.inputfile + label span {
	width: 150px;
	min-height: 2em;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
}

.inputfile + label strong {
	height: 100%;
	color: #f1e5e6;
	background-color: #5fcf80;
	display: inline-block;
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {
	background-color: #5fcf80;
	color: #000000;
}

@media screen and (max-width: 50em) {
	.inputfile + label strong {
		display: block;
	}
}

.center-image {
	display: block;
	margin: 0 auto;
}

.center-text {

	text-align: center;
	margin-bottom: 40px;

}

/* =============================================================
HOW TO PLAY SECTION STYLES
============================================================ */

#instruction .instruction-wrapper {
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 40px;
	width:350px; /* or whatever width you want. */
	max-width:350px; /* or whatever width you want. */
	display: inline-block;
	height: 250px;
	max-height: 250px;
	text-align: justify;
	background-color: rgba(255, 255, 255, 0.07);
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#instruction .instruction-wrapper:hover {
	background-color: rgba(255, 255, 255, 0.20);
}

#instruction h3 {
	font-family: 'Amita';
}

#instruction .instruction-wrapper i {
	margin: 5px;
	color: rgb(57, 171, 111);
	font-size: 60px;
}


/*============================
PRICING SECTION STYLES
==============================*/

.light-pricing {
	margin-bottom: 30px;
	margin-top: 50px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
	line-height: 30px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.light-pricing:hover {
	background-color: transparent;
}

.light-pricing ul {
	list-style: none;
	margin: 0;
	text-align: center;
	padding-left: 0px;
}

.light-pricing ul li {
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.light-pricing ul li i {
	margin-right: 5px;
}


.light-pricing .price {
	padding: 40px 20px 20px 20px;
	font-size: 60px;
	font-weight: 900;
}

.light-pricing .price small {
	color: #000;
	display: block;
	font-size: 15px;
	margin-top: 22px;
}

.light-pricing .type {
	background-color: rgba(0, 0, 0, 0.40);
	padding: 30px 20px;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	color: rgb(57, 171, 111);
}

.light-pricing .pricing-footer {
	padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
	padding-left: 0;
	padding-right: 0;
}

.light-pricing.popular {
	margin-top: 10px;
}

.light-pricing.popular .price {
	padding-top: 80px;
}


/*============================
TRIBE SECTION STYLES
==============================*/

#tribes .caegories a.active {
	background-color: transparent;
	color: #fff;
}

.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

#tribes .work-wrapper {
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 40px;
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border: 1px solid rgb(57, 171, 111);
}

#tribes .work-wrapper:hover {
	background-color: transparent;
	border: 1px solid rgb(57, 171, 111);

	opacity: .80; /* standard: ff gt 1.5, opera, safari */
	-ms-filter: "alpha(opacity=80)"; /* ie 8 */
	filter: alpha(opacity=80); /* ie lt 7 */
	-khtml-opacity: .80; /* safari 1.x */
	-moz-opacity: .80; /* ff lt 1.5, netscape */

}

#tribes .work-wrapper h4 {
	padding-top: 10px;
}



/*============================
TEAM SECTION STYLES
==============================*/


.team-wrapper {
	overflow-x: hidden;
	position: relative;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transform: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom:30px;
}
.team-wrapper:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.team-wrapper .team-inner {
	background-size: cover;
	background-position: center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	padding: 150px 0 10px;
	/*background-image: url('../img/girl-big.jpg');*/
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	border-radius: 10px 10px 0px 0px;
}

.team-wrapper > .team-inner > a {
	color: rgb(57, 171, 111);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0 auto -50px;
	display: block;
	color: rgb(57, 171, 111);
	z-index: 999;
	font-size: 40px;
	padding: 15px 22px;
	background-color: #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.team-wrapper > .team-inner > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: rgb(57, 171, 111);
}


.team-wrapper .description {
	padding: 30px 20px 20px;
	text-align: center;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.team-wrapper .description h5 {
	color: rgb(57, 171, 111);
}



/*============================
CONTACT SECTION STYLES
==============================*/

#contact .contact-wrapper {
	background-color:rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 40px;
	min-height:200px;
}
#contact .contact-wrapper h3 {
	color:rgb(57, 171, 111);
}
#contact .social-below {
	display: block;
	margin-top: 5px;
}
.footer-div {
	padding-top:25px;
}
.footer-div a,.footer-div a:hover {
	font-size:10px;

	color:#fff;
	text-decoration:none;
}




@media only screen and (max-width: 640px)
{
	.sign_up {
		width: 570px;
	}
	.input input[type="text"],.input input[type="password"]
	{
		width:80%;
	}
}
@media only screen and (max-width: 480px)
{
	.sign_up {
		width: 420px;
	}
	.input input[type="text"],.input input[type="password"]
	{
		width:73%;
	}
}
@media only screen and (max-width: 320px)
{
	.member-login {
		width: 280px;
	}
	.sign_up {
		width: 280px;
	}
	.input input[type="text"],.input input[type="password"]
	{
		width:79%;
	}
	.username, .email, .details {
		float: none;
		width: 100%;
	}
	.password, .re-email, .details1 {
		float: none;
		width: 100%;
	}
}

